body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dad5d5;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.container_flex{
    display: flex;
    align-items: self-start;
}

#cabecalho .nav .nav-link.active{
    background-color: #000000;
    color: #ffffff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link.active:hover{
    color: #000000;
}

.nav-toggler{
    background-color: #ffeae6;
}
label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 9px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    margin-top: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#butao{
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

#clearButton{
    background-color: transparent;
    border: none;
    color: #000000; 
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}

#clearButton:hover{
    background-color: transparent;
    color: #0056b3;
}

.media-card {
    margin-bottom: 20px; 
}

.media-card img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.media-card img { 
    transition: 0.5s; 
}
.media-card img:hover { 
    cursor: pointer;
    transform: scale(1.1); 
}

#results {
    align-items: center;
    margin-top: 20px;
}

.result {
    margin-bottom: 25px;
}


.result img {
    margin-top: 7px;
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result p {
    margin-bottom: 8px;
}

.lista{
    display: inline-flex;
}

.item_lista{
    background-color: transparent;
    border: none;
    color: #000000; 
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    list-style: none;
}

.item_lista:hover{
    background-color: transparent;
    color: #0056b3;
}

.infos{
    display: block;
}