body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}
.container_flex{
    display: flex;
    align-items: self-start;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #000000;
}

.nav-toggler{
    background-color: #ffeae6;
}
label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#butao{
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    align-items: center;
    margin-top: 20px;
}

.result {
    margin-bottom: 25px;
}

  /* Estilo adicional para a imagem do filme/programa */
.result img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Adicione bordas arredondadas para a imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione sombra à imagem */
}

  /* Estilo para os detalhes do filme/programa */
.result p {
    margin-bottom: 8px;
}

.vertical-line {
    border-right: 2px solid black; /* ou qualquer outra cor desejada */
    max-width: 415px;
    height: 100px; /* altura da linha */
}